@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid bg-light p-5">
    <div class="row">
        <div class="col-md-4 col-sm-12 text-center my-2">
            <img class="img-fluid" src="~/Content/car1.jpg" />
        </div>
        <div class="col-md-4 col-sm-12 text-center my-2">
            <img class="img-fluid" src="~/Content/car2.jpg" />
        </div>
        <div class="col-md-4 col-sm-12 text-center my-2">
            <img class="img-fluid" src="~/Content/car3.jpg" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Auto Sales Are Down. Here's Why They'll Continue To Fall.</h2>
        <p>
            So far, the slowdown in new vehicle sales is slow and gradual. Through the first two months of 2018 
            they have slipped a barely noticeable 0.8%. That is about to change. Auto loan interest rates are now at levels 
            not seen since 2010 – an average of 5.2% in February...
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>7 thing you should know about the 2018 Audi RS5</h2>
        <p>
            I’m frustrated. The Arizona desert roads Audi picked for me to drive its track-bred coupe on were picturesque and open,
            but I found nary a sharp corner to attack. So, I’ve called in a favor and borrowed a Nardo Gray 2018 Audi RS 5 for 
            some extra drive time.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>In-Depth BMW X3 review by Car and Driver</h2>
        <p>
            We’ve been pretty adamant about the fact that the BMW X3 is one of the best cars currently in BMW’s stable.
            Personally, I feel that it’s the most BMW-like car the brand has made in a long time, with a steering and 
            chassis feel that reminds me of old-school Bavarians.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>